<!--- this is a simple camera template using some Angular compoenents -->

<ion-header>
  <ion-navbar>
    <ion-title align="center"></ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col text-center>
      <h5>HOW AWESOME ARE YOU TODAY?</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <!-- after picture is taken, show message -->
    <ion-col align="center">
      <div>
        <!-- randomize positive message -->
        <H1 *ngIf="hasTakenPicture">{{ text }}</H1>
      </div>
      <img [src]="base64Image" *ngIf="base64Image"/>
      <!--<img src="{{base64Image}}"/> -->
      <!--<img id="camera-image"/> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button
        ion-button
        icon-left
        block
        outline
        type="button"
        (click)="takePhotos()">
        <ion-icon name="camera"></ion-icon>
        Open Camera
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-content>
