<ion-header>
  <ion-navbar>
    <ion-title align="center">SMILE</ion-title>
  </ion-navbar>
</ion-header>
<!-- just a simple random picture viewer -->
<ion-content class = "cutebg">
  <ion-row>
    <ion-col>
      <!-- show first div at page load -->
      <div class="myphoto">
        <div *ngIf="notClickedYet">
          <img src="assets/botw-1.png"
               width="281" height="394">
        </div>
        <div *ngIf="!notClickedYet">
        <img
          [src]="currentPicture"
          width="281" height="394"
          id="myPicture"
          style="align-items: center">
        </div>
      </div>
      <div>
        <!-- click button to get random pictures from ts component arraylist -->
        <button ion-button full block (click)="onClickThis()">JUST SMILE A LITTLE </button>
        </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <h3 *ngIf="showAww" align="center">Go to <a href="http://www.reddit.com/r/aww">/r/aww</a> for more!</h3>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
